body {
	background-color: #87CEFA;
	color: white;
	text-align: center;
}
button {
	padding : 10px;
	font-size: 1.25rem;

}

#clock {
	margin-top: 15px;
}
#bomb {
	text-align: center;
	font-size: 2.5rem;
	color: red;
    margin: 20px;
}